<?xml version="1.0"?>
<launch> 
  <arg name="ctrl" default="true" />

  <!-- parameters for only_controller.launch -->
  <arg name="ns" default="" />
  <arg name="prefix" default="" />
  <arg name="ctrl_name" default="GPSLegPlugin" />

  <!-- Load gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  <!-- Load robot description -->
  <include file="$(find dragon_description)/launch/upload_single_leg.launch" />

  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" textfile="$(find dragon_moveit_config)/config/single_leg.srdf" />

  <!-- Load The Controller of Agent -->
  <include if="$(arg ctrl)" file="$(find dragon_agent)/launch/leg_agent_only_controller.launch" >
    <arg name="ns" value="$(arg ns)" />
    <arg name="prefix" value="$(arg prefix)" />
    <arg name="ctrl_name" value="$(arg ctrl_name)" />
  </include>
 
</launch>
